* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#btn-lights {
    margin-bottom: 25px;
    overflow: hidden;
}

#btn-lights-inner {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#btn-lights button {
    padding: 10px;
    border: 0;
    outline: 0;
    background: none;
}

#btn-lights button:nth-of-type(1) {
    border-top-left-radius: 100%;
}

#btn-lights button:nth-of-type(2) {
    border-top-right-radius: 100%;
}

#btn-lights button:nth-of-type(3) {
    border-bottom-left-radius: 100%;
}

#btn-lights button:nth-of-type(4) {
    border-bottom-right-radius: 100%;
}

button > svg {
    display: block;
    width: 100%;
}