* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url('https://www.transparenttextures.com/patterns/worn-dots.png');
    background-position: center;
}

#btn-lights {
    margin-bottom: 25px;
    overflow: hidden;
}

#btn-lights-inner {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

#btn-lights button {
    padding: 2%;
    border: 0;
    outline: 0;
    background: none;
    width: 50%;
}

button > svg {
    display: block;
    width: 100%;
}

#level {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    align-self: center;
    justify-self: center;
    background-image: url('../imgs/btn_middle.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 18%;
    height: 18%;
    padding: 2% 2% 3%;
}