* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#btn-lights {
    margin-bottom: 25px;
}

#btn-lights > button {
    padding: 50px;
    border: 1px solid rgb(0 0 0 / .25);
    background: white;
    outline: 0;
}
/* 
#btn-lights > button:active {
    background: purple !important;
} */